.venv/
.env
aileronsVenv/
venv/
pycache/
ailerons_tracker_backend.egg-info/
.vscode/
**/__pycache__/
**/.pytest_cache/
.devcontainer/
uploaded_csv/*.csv
**/.DS_Store
stylintrc.json
node_modules/
package-lock.json
package.json
stylintrc.json
