<form hx-post="login/" hx-encoding="multipart/form-data" hx-target="main" hw-swap="innerHTML">
    {{ render_partial("shared/inputs/password.jinja") }}
    <input class="submit" type="submit"/>
</form>
