<tr class="headers">
    <th scope="col" class="id">ID</th>
    <th scope="col" class="text">Créé</th>
    <th scope="col" class="text">Fichier locs</th>
    <th scope="col" class="text">Fichier profondeur</th>
    <th scope="col" class="actions">Actions</th>
</tr>
