<div popover id="help">
    <h3>
        Tableau de bord:
    </h3>
    <p>
        Le tableau de bord affiche les individus actuellement renseignés dans la base de données,
        pour modifier les informations relatives à un individu et au contexte de balisage,
        cliquez sur <b>éditer</b>.
    </p>
    <p>
        Pour associer des fichiers CSV à un individu, cliquez sur <b>upload</b>.
        Pour renseigner un nouvel individu, cliquez sur <b>ajouter</b> en bas du tableau.
    </p>
    <h3>
        Renseigner et modifier des individus:
    </h3>
    <p>
        La fiche d'identité et le contexte de balisage sont associés dans la même page.
    </p>
    <p>
        Lors d'une modification, le formulaire est déjà renseigné avec les données existantes. Seuls les changements sont pris en compte.
    </p>
    <p>
        Il est possible de charger plusieurs photos, et les photos sont ajoutées à celles déjà existantes dans le cas d'une modification.
        Les photos sont conservées même en cas de suppression d'une fiche d'identité, pas le contexte de balisage.
    </p>
    <h3>
        Charger des données au format CSV:
    </h3>
    <p>
        Chargez les fichiers correspondants au relevés de localisation et de profondeur.
        Le système se charge de génerer les données géo-spatiales exploitables pour la création de visualisations cartographiques.
    </p>
    <p>
        Les fichiers <em>ne sont pas conservés</em>, seulement une référence.
    </p>
    <button class="cancel" popovertarget="help" popovertargetaction="hide">
        Fermer
    </button>
</div>
