<button class="toggle individual_table"
            hx-get="/portal/individuals"
            hx-trigger="click"
            hx-target="#dashboard"
            hx-swap="innerHTML swap:300ms settle:50ms">Fichiers</button>