<tr class="headers">
    <th scope="col" class="icon">Icône</th>
    <th scope="col" class="id">ID</th>
    <th scope="col" class="text">Nom</th>
    <th scope="col" class="text">Sexe</th>
    <th scope="col" class="text">Description</th>
    <th scope="col" class="img">Photos</th>
    <th scope="col" class="actions">Actions</th>
</tr>
