
      <section id="create-infocard-section">
        <h2>Créer une fiche d'identité</h2>
        <hr />

        <form
          id="create-infocard-form"
          action="http://127.0.0.1:5000/individual"
          method="post"
          enctype="multipart/form-data"
        >
          <fieldset>
            <legend>Individu</legend>

            <label for="indName"
              >Surnom
              <input type="field" class="field" id="indName" name="indName" />
            </label>

            <label for="indSex"
              >Sexe
              <select id="indSex" name="indSex" value="unknown">
                <option>male</option>

                <option>female</option>

                <option>unknown</option>
              </select>
            </label>

            <label for="indPics"
              >Photos
              <input
                type="file"
                id="indPics"
                name="indPics"
                accept=".png,.jpg"
                multiple
              />
            </label>
          </fieldset>
          <fieldset>
            <legend>Contexte de balisage</legend>

            <label for="indSize"
              >Envergure à la pose
              <input
                type="number"
                class="number"
                id="indSize"
                name="indSize"
                min="1"
                max="600"
              />
            </label>

            <label for="tagDate"
              >Date de pose de balise
              <input
                type="datetime-local"
                class="date"
                id="tag-date-input"
                name="tagDate"
              />
            </label>

            <fieldset class="nested">
              <legend class="nested">Situation</legend>

              <div class="row-wrapper">
                <label class="horizontal" for="alone">
                  Seul
                  <input
                    type="radio"
                    class="check"
                    id="situation"
                    name="situation"
                    value="alone"
                  />
                </label>

                <label class="horizontal" for="group">
                  En groupe
                  <input
                    type="radio"
                    class="check"
                    id="situation"
                    name="situation"
                    value="group"
                  />
                </label>

                <label class="horizontal" for="couple">
                  Avec partenaire
                  <input
                    type="radio"
                    class="check"
                    id="situation"
                    name="situation"
                    value="couple"
                  />
                </label>
              </div>
            </fieldset>

            <fieldset class="nested">
              <legend class="nested">Comportement</legend>

              <div class="col-wrapper">
                <label class="horizontal grow" for="mature">
                  A maturité sexuelle
                  <input
                    type="checkbox"
                    class="check"
                    id="mature"
                    name="mature"
                  />
                </label>

                <label class="horizontal grow" for="feeding">
                  En train de se nourrir
                  <input
                    type="checkbox"
                    class="check"
                    id="feeding"
                    name="feeding"
                  />
                </label>

                <label class="horizontal grow" for="reproduction">
                  En période de reproduction
                  <input
                    type="checkbox"
                    class="check"
                    id="reproduction"
                    name="reproduction"
                  />
                </label>

                <label class="horizontal grow" for="gestation">
                  En période de gestation
                  <input
                    type="checkbox"
                    class="check"
                    id="gestation"
                    name="gestation"
                  />
                </label>

                <label class="horizontal grow" for="jumping">
                  Effectuait des acrobaties
                  <input
                    type="checkbox"
                    class="check"
                    id="jumping"
                    name="jumping"
                  />
                </label>

                <label class="horizontal grow" for="injured">
                  Blessé
                  <input
                    type="checkbox"
                    class="check"
                    id="injured"
                    name="injured"
                  />
                </label>

                <label class="horizontal grow" for="sick">
                  Malade
                  <input
                    type="checkbox"
                    class="check"
                    id="injured"
                    name="injured"
                  />
                </label>

                <label class="horizontal grow" for="parasites">
                  Présence de parasites
                  <input
                    type="checkbox"
                    class="check"
                    id="parasites"
                    name="parasites"
                  />
                </label>
              </div>
            </fieldset>
          </fieldset>

          <input type="submit" class="submit" />
        </form>
      </section>