      <section id="news-post-section">
        <h2>Publier une actualité</h2>
        <hr />

        <form
          id="news-post-form"
          action="http://127.0.0.1:5000/news"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="post-title-input"
            >Titre du post
            <input
              type="field"
              class="field"
              id="post-title-input"
              name="newsTitle"
            />
          </label>

          <label for="post-image-input"
            >Image d'illustration
            <input
              type="file"
              class="file"
              id="post-image-input"
              name="newsImage"
              accept=".png,.jpg"
            />
          </label>

          <label for="post-content-input"
            >Corps de texte
            <textarea
              id="post-content-input"
              name="newsContent"
              placeholder="Rédigez votre post ici"
            ></textarea>
          </label>

          <label for="publication-date-input"
            >Date de publication souhaitée
            <input
              type="datetime-local"
              class="date"
              id="publication-date-input"
              name="newsDate"
            />
          </label>

          <input type="submit" class="submit" />
        </form>
      </section>