<label for="{{ input_id }}">
    {{ label }}
    <input type="number"
           class="number"
           id="{{ input_id }}"
           name="{{ input_id }}"
           min="{{ min }}"
           max="{{ max }}"
           value="{{ val }}" />
</label>
