<label class="horizontal" for="{{ input_id }}">
    {{ label }}
    {% if checked: %}
        <input type="radio"
               class="check"
               id="{{ input_id }}"
               name="{{ input_name }}"
               value="{{ value }}"
               checked="{{ checked }}" />
    {% else: %}
        <input type="radio"
               class="check"
               id="{{ input_id }}"
               name="{{ input_name }}"
               value="{{ value }}" />
    {% endif %}
</label>
