<label class="horizontal" for="{{ input_id }}">
    {{ label }}
    <input type="radio"
           class="check"
           id="{{ input_id }}"
           name="{{ input_name }}"
           value="{{ value }}" />
</label>
