<section id="csv-upload-section">
    <h2>
        Envoyer des fichiers
    </h2>
    <hr />
    <form id="csv-upload-form"
          hx-post="upload?id={{ ind.id }}"
          hx-encoding="multipart/form-data"
          hx-target="main"
          hx-swap="innerHTML swap:300ms settle:50ms show:window:top">
        <fieldset>
            <legend>
                Fichiers CSV
            </legend>
            {{ render_partial('shared/inputs/file.jinja', input_id='loc_file', label='Relevés de localisation', accept='.csv') }}
            {{ render_partial('shared/inputs/file.jinja', input_id='depth_file' , label='Relevés de profondeur',accept='.csv') }}
        </fieldset>
        <div class="row-wrapper padded">
            {{ render_partial('shared/cancel_button.jinja', action='dashboard') }}
            <input type="submit" class="submit" />
        </div>
    </form>
</section>
