<button class="add-ind"
        hx-get="new_individual"
        hx-trigger="click"
        hx-target="#dashboard"
        hx-swap="outerHTML swap:300ms settle:50ms show:window:top">Nouvel individu</button>
