
<button class="edit"
        hx-get="edit_individual?id={{ ind_id }}"
        hx-trigger="click"
        hx-target="#dashboard"
        hx-swap="outerHTML swap:300ms settle:50ms show:window:top">Editer</button>