<nav class="navbar">
    <li>
        <ul>
            <a>Connexion</a>
        </ul>
        <ul>
            <a href="#csv-upload-section">Dashboard</a>
        </ul>
        <ul>
            <a href="#news-post-section">Actus</a>
        </ul>
    </li>
</nav>
