<nav class="navbar">
    <li>
        <ul>
            <a hx-get="login/" hx-target="main" hx-swap="innerHTML">Connexion</a>
        </ul>
        <ul>
            <a hx-get="dashboard" hx-target="main" hx-swap="innerHTML">Dashboard</a>
        </ul>
        <ul>
            <a href="#news-post-section">Actus</a>
        </ul>
    </li>
</nav>
