<section id="create-infocard-section">
  <h2>Editer une fiche d'identité</h2>
  <h2>Créer une fiche d'identité</h2>
  <hr />
  <form id="create-infocard-form"
        hx-post="create_individual"
        hx-target="#create-infocard-section"
        hx-enconding="multipart/form-data">
    <fieldset>
      <legend>Individu</legend>
      {% if ind.pictures: %}
        {% for pic in ind.pictures: %}
          <img src="{{ pic }}"
               height="40px"
               width="40px"
               alt="Associated image file" />
        {% endfor %}
      {% endif %}
      {{ render_partial('shared/inputs/text.jinja',
            input_id = 'indName',
            input_name = 'indName',
            label = 'Surnom',
            val = ind.name) }}
      {{ render_partial('shared/inputs/select.jinja',
            input_id = 'indSex',
            label = 'Sexe',
            options = ['Male', 'Femelle', 'Inconnu'],
            control = ind.sex) }}
      {{ render_partial('shared/inputs/image_file.jinja',
            input_id = 'indPics',
            label = 'Photos',
            multiple = True) }}
      {{ render_partial('shared/inputs/textarea.jinja',
            input_id = 'indDesc',
            label = 'Description',
            val = ind.description) }}
    </fieldset>
    <fieldset>
      <legend>Contexte de balisage</legend>
      {{ render_partial('shared/inputs/number.jinja',
            input_id = 'indSize',
            label = 'Envergure à la pose',
            min = '1',
            max = '600',
            val = context.size) }}
      {{ render_partial('shared/inputs/date.jinja',
            input_id = 'tagDate',
            label = 'Date de pose de balise',
            val = context.date) }}
      <fieldset class="nested">
        <legend class="nested">Situation</legend>
        <div class="row-wrapper">
          {# Ugly as hell but I couldn't use a conditional directly in render_partial, I'll look into it #}
          {% if context.situation == 'alone': %}
            {% set alone_checked = true %}
          {% endif %}
          {{ render_partial('shared/inputs/radio.jinja',
                    input_id = 'alone',
                    input_name = 'situation',
                    label = 'Seul',
                    value = 'alone',
                    checked = alone_checked) 
          }}
          {% if context.situation == 'group': %}
            {% set group_checked = true %}
          {% endif %}
          {{ render_partial('shared/inputs/radio.jinja',
                    input_id = 'group',
                    input_name = 'situation',
                    label = 'En groupe',
                    value = 'group',
                    checked = group_checked) }}
          {% if context.situation == 'group': %}
            {% set couple_checked = true %}
          {% endif %}
          {{ render_partial('shared/inputs/radio.jinja',
                    input_id = 'couple',
                    input_name = 'situation',
                    label = 'Avec partenaire',
                    value = 'couple',
                    checked = couple_checked) }}
        </div>
      </fieldset>
      <fieldset class="nested">
        <div class="col-wrapper">
          {{ render_partial('shared/inputs/textarea.jinja',
                    input_id = 'indBehavior',
                    label = 'Comportement observé',
                    val = context.behavior,
                    placeholder = 'Rédigez vos observations ici') }}
        </div>
      </fieldset>
    </fieldset>
    <div class="row-wrapper">
      {{ render_partial('shared/cancel_button.jinja',
            action = 'dashboard',
            target = '#create-infocard-section') }}
      <input type="submit" class="submit" />
    </div>
  </form>
</section>
