<section id="create-infocard-section">
    <h2>
        Créer une fiche d'identité
    </h2>
    <hr />
    <form id="create-infocard-form"
          hx-post="{{ url_for("portal.individual.create") }}"
          hx-target="#create-infocard-section"
          hx-swap="outerHTML"
          hx-encoding="multipart/form-data">
        {{ form.csrf_token }}
        <fieldset>
            <legend>
                Individu
            </legend>
            {{ render_partial('shared/inputs/text.jinja', input_id = 'individual_name', input_name = 'individual_name', label = 'Surnom') }}
            {{ render_partial('shared/inputs/select.jinja', input_id = 'sex', label = 'Sexe', options = ['Male', 'Femelle', 'Inconnu']) }}
            {{ render_partial('shared/inputs/image_file.jinja', input_id = 'pictures', label = 'Photos', multiple = True) }}
            {{ render_partial('shared/inputs/textarea.jinja', input_id = 'description', label = 'Description', placeholder = 'Rédigez une courte description ici') }}
        </fieldset>
        <fieldset>
            <legend>
                Contexte de balisage
            </legend>
            {{ render_partial('shared/inputs/number.jinja', input_id = 'size', label = 'Envergure à la pose', min = '1', max = '15',) }}
            {{ render_partial('shared/inputs/datetime.jinja', input_id = 'tag_date', label = 'Date de pose de balise',) }}
            <fieldset class="nested">
                <legend class="nested">
                    Situation
                </legend>
                <div class="row-wrapper">
                    {{ render_partial('shared/inputs/radio.jinja', input_id = 'alone', input_name = 'situation', label = 'Seul', value = 'alone',) }}
                    {{ render_partial('shared/inputs/radio.jinja', input_id = 'group', input_name = 'situation', label = 'En groupe', value = 'alone') 
                    }}
                    {{ render_partial('shared/inputs/radio.jinja', input_id = 'couple', input_name = 'situation', label = 'Avec partenaire', value = 'alone') }}
                </div>
            </fieldset>
            <fieldset class="nested">
                <div class="col-wrapper">
                    {{ render_partial('shared/inputs/textarea.jinja', input_id = 'behavior', label = 'Comportement observé', placeholder = 'Rédigez vos observations ici') }}
                </div>
            </fieldset>
        </fieldset>
        <div class="row-wrapper">
            {{ render_partial('shared/cancel_button.jinja', action = url_for("portal.dashboard.show") ) }}
            <input type="submit" class="submit" />
        </div>
    </form>
</section>
