<section id="get-started-section" class="nested">
    <h3>Utiliser le tableau de bord</h3>
    <p>
        Naviguez entre les vues <b>individus</b> et <b>fichiers</b> grâce au bouton en bas à droite.
        <br />
        Chaque ligne de la vue <b>individus</b> correspond à un individu spécifique.
        <br />
        Cliquez sur le bouton <b>upload</b> d'une dans la case <b>actions</b> pour uploader des fichiers CSV liés à cet individu précis.
        <br />
        Pour renseigner un nouvel individu, cliquez sur le bouton <b>nouvel individu</b> en dernière ligne du tableau.
    </p>
</section>
